<!DOCTYPE html>
{% load static from staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/current_hand.css' %}">
    <title>Document</title>
</head>
<body>



<div class="container">
    <div class="row">
        <div class="col-1">
            {% for player in players %}
            {% if player.user == request.user %}
            <form method="POST" action="{% url 'leave_table' table.id player.id %}">
                {% csrf_token %}
                <input type="submit" class="btn btn-danger" value="Leave Table"/>
            </form>
            {% endif %}
            {% endfor %}
        </div>
        <div class="col-11 center">
            <h3>{{ table.name }}</h3>
        </div>
    </div>

<div class="row">
    <div class="col center">
<h3>Pot: <i>{{ hand.pot }}</i></h3>
    </div>
</div>
<hr>

<div class="row">
    <div class="col center">
{% if hand.check_no >= no_of_preflop_players  %}
    <img src="/static/images/{{ hand.card_1 }}.png" class="cards">
    <img src="/static/images/{{ hand.card_2 }}.png" class="cards">
    <img src="/static/images/{{ hand.card_3 }}.png" class="cards">
{% endif %}

{% if hand.check_no >= no_of_flop_players %}
    <img src="/static/images/{{ hand.card_4 }}.png" class="cards">
{% endif %}

{% if hand.check_no >= no_of_turn_players %}
    <img src="/static/images/{{ hand.card_5 }}.png" class="cards">
{% endif %}
    </div>
</div>

<br>

<div class="row">
{% for player in players %}
    {% if player.seat_num == hand.current_player %}
    <div class="col-sm-6 col-md-4 col-lg-3 center active">
    {% else %}
    <div class="col-sm-6 col-md-4 col-lg-3 center">
    {% endif %}    
        <div class="row">
            <div class="col-12">
                
                <img src="{{ MEDIA_URL }}{{ player.user.profile.image }}" class="img-circle">
                
                <p>{{ player.user }} - <img src="/static/images/poker-chip.png"><i> {{ player.chips }}</i></p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-12 center">
        {% if hand.check_no == no_of_river_players and player.as_active %}
                <img src="/static/images/{{ player.card_1 }}.png" class="cards">
                <img src="/static/images/{{ player.card_2 }}.png" class="cards">
            </div>
        </div>
        {% elif player.user == request.user and player.is_active %}
        
                <img src="/static/images/{{ player.card_1 }}.png" class="cards">
                <img src="/static/images/{{ player.card_2 }}.png" class="cards">
            </div>
        </div>
        {% elif player.is_active == False %}
                <p>Folded</p>
            </div>
        </div>
        {% else %}
                <img src="/static/images/blue_back.png" class="cards">
                <img src="/static/images/blue_back.png" class="cards">
            </div>
        </div>
        {% endif %}
        
        {% for winner in hand.winner.all %}
        {% if player == winner %}
        <h3 class="margin-top">Winner</h3>
        {% endif %}
        {% endfor %}

    {% if hand != None and player.user == request.user and player.is_active and player.seat_num == hand.current_player and hand.check_no < no_of_river_players %}
    <div class="row">
        <div class="col-6 center">
            
    <form method="POST" action="{% url 'fold' hand.id player.id %}">
        {% csrf_token %}
        <input class="btn btn-danger margin-top" type="submit" value="Fold"/>
    </form>
        </div>
        <div class="col-6 center">
    {% if hand.current_bet == 0 %} 
    <form method="POST" action="{% url 'check' table.id hand.id player.id %}">
        {% csrf_token %}
        <input class="btn btn-warning margin-top" type="submit" value="Check"/>
    </form>
        </div>
    </div>
    {% else %}
    <form method="POST" action="{% url 'call' table.id hand.id player.id %}">
        {% csrf_token %}
        <input class="btn btn-warning margin-top" type="submit" value="Call"/>
    </form>
        </div>
    </div>
    {% endif %}
    
    <br>
    
    <div class="row">
        <div class="col-12 center">
    {% if hand.current_bet == 0 %}
    <form method="POST" action="{% url 'bet' table.id hand.id player.id %}">
        {% csrf_token %}
        <input class="btn btn-info" type="submit" value="Bet"/>
        <input class="input" type="number" step="{{ table.blinds }}" name="bet"/>
    </form>
        </div>
    </div>
    {% else %}
    <form method="POST" action="{% url 'raise' table.id hand.id player.id %}">
        {% csrf_token %}
        <input class="btn btn-info" type="submit" value="Raise"/>
        <input class="input" type="number" step="{{ table.blinds }}" name="raise"/>
    </form>
    <br>
       </div>
    </div>
    {% endif %}
    {% if hand.current_bet != 0 and player.player_pot == 0 %}
    <div class="row">
        <div class="col">
                <p>{{ hand.current_bet }} to call</p>
        </div>
    </div>
    {% endif %}
    
    {% if player.player_pot != 0 %}
    <div class="row">
        <div class="col">
                <p>{{ hand.raise_amount }} to call</p>
        </div>
    </div>
    {% endif %}
    
     
    {% endif %}
    <br>
    </div>
    
{% endfor %}

</div>


{% if hand == None or hand.check_no == no_of_river_players %}
<form method="POST" action="{% url 'deal' table.id %}">
    {% csrf_token %}
    <input type="submit" class="btn btn-info" value="Deal"/>
</form>
{% endif %}
   
</div>

