{% extends "base.html" %}
{% load static from staticfiles %}
{% block content %}

<h3>{{ table.name }}</h3>
<p><b>Starting Blinds: {{ table.blinds }}</b></p>

<hr>

{% for player in players %}
{% if player.user == request.user %}
<form method="POST" action="{% url 'leave_table' table.id player.id %}">
    {% csrf_token %}
    <input type="submit" value="Leave Table"/>
</form>
<br>
{% endif %}

<p>{{ player.user }} - <i>${{ player.chips }}</i></p>

{% if player.user == request.user %}
<p>{{ player.card_1 }}
{{ player.card_2 }}</p>
{% endif %}

{% if hand != None and player.user == request.user %}
<form method="POST" action="{% url 'fold' hand.id player.id %}">
    {% csrf_token %}
    <input type="submit" value="Fold"/>
</form>
<br>
<form method="POST" action="#">
    {% csrf_token %}
    <input type="submit" value="Check"/>
</form>
<br>
<form method="POST" action="#">
    {% csrf_token %}
    <input type="submit" value="Call"/>
</form>
<br>
<form method="POST" action="{% url 'raise' table.id hand.id player.id %}">
    {% csrf_token %}
    <input type="number" step="10" name="raise"/>
    <input type="submit" value="Raise"/>
</form>
{% endif %}
<br>
{% endfor %}


<h3>Pot: <i>{{ hand.pot }}</i></h3>
<hr>

<button class="btn btn-primary" onclick="show_cards('flop')">Show Flop</button>
<div id="show_flop" class="hidden_card">
    {{ hand.card_1 }}
    {{ hand.card_2 }}
    {{ hand.card_3 }}
</div>


<button class="btn btn-primary" onclick="show_cards('turn')">Show Turn</button>
<div id="show_turn" class="hidden_card">
    {{ hand.card_4 }}
</div>

<button class="btn btn-primary" onclick="show_cards('river')">Show River</button>
<div id="show_river" class="hidden_card">
    {{ hand.card_5 }}
</div>

<button class="btn btn-primary" onclick="show_cards('winner')">Show Winner</button>
<div id="show_winner" class="hidden_card">
    <h3>Winner: {{ winner }}</h3>
</div>

<form method="POST" action="{% url 'deal' table.id %}">
    {% csrf_token %}
    <input type="submit" value="Deal"/>
</form>
   
{% endblock %}

{% block bottom_scripts %}
    <script type="text/javascript" src="{% static 'js/show_cards.js' %}"></script>
{% endblock %}

