<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

{% load static from staticfiles %}
{% block content %}

<h3>{{ table.name }}</h3>
<p><b>Starting Blinds: {{ table.blinds }}</b></p>
{% for player in players %}
{% if player.user == request.user %}
<form method="POST" action="{% url 'leave_table' table.id player.id %}">
    {% csrf_token %}
    <input type="submit" value="Leave Table"/>
</form>
<br>
{% endif %}
{% endfor %}
<hr>

{% for player in players %}

<p>{{ player.user }} - <i>${{ player.chips }}</i></p>

{% if player.is_active == False %}
<p>Folded</p>
{% endif %}

{% if player.user == request.user and player.is_active %}
<p><img src="/static/images/{{ player.card_1 }}.png" width="50" height="100">
<img src="/static/images/{{ player.card_2 }}.png" width="50" height="100"></p>
{% else %}
<p><img src="/static/images/blue_back.png" width="50" height="100">
<img src="/static/images/blue_back.png" width="50" height="100"></p>
{% endif %}

{% if hand != None and player.user == request.user and player.is_active and player.seat_num == hand.current_player and hand.check_no < no_of_river_players %}

<form method="POST" action="{% url 'fold' hand.id player.id %}">
    {% csrf_token %}
    <input type="submit" value="Fold"/>
</form>
<br>
{% if hand.current_bet == 0 %}
<form method="POST" action="{% url 'bet' table.id hand.id player.id %}">
    {% csrf_token %}
    <input type="number" step="{{ table.blinds }}" name="bet"/>
    <input type="submit" value="Bet"/>
</form>
<br>
{% else %}
<form method="POST" action="{% url 'raise' table.id hand.id player.id %}">
    {% csrf_token %}
    <input type="number" step="{{ table.blinds }}" name="raise"/>
    <input type="submit" value="Raise"/>
</form>
<br>
{% endif %}
{% if hand.current_bet == 0 %} 
<form method="POST" action="{% url 'check' table.id hand.id player.id %}">
    {% csrf_token %}
    <input type="submit" value="Check"/>
</form>
{% endif %}
<br>
{% if hand.current_bet != 0 %} 
<form method="POST" action="{% url 'call' table.id hand.id player.id %}">
    {% csrf_token %}
    <input type="submit" value="Call"/>
</form>
{% endif %}

{% endif %}
<br>
{% endfor %}

<hr>
<div><h4>
{% if hand.check_no >= no_of_preflop_players  %}
    <img src="/static/images/{{ hand.card_1 }}.png" width="50" height="100">
    <img src="/static/images/{{ hand.card_2 }}.png" width="50" height="100">
    <img src="/static/images/{{ hand.card_3 }}.png" width="50" height="100">
{% endif %}

{% if hand.check_no >= no_of_flop_players %}
    <img src="/static/images/{{ hand.card_4 }}.png" width="50" height="100">
{% endif %}

{% if hand.check_no >= no_of_turn_players %}
    <img src="/static/images/{{ hand.card_5 }}.png" width="50" height="100">
{% endif %}
</h4></div>
<hr>
<h5>Winner: 
{% for winner in hand.winner.all %}
{% if hand.check_no == no_of_river_players %}
{{ winner }}
{% endif %}
{% endfor %}
</h5>

<h4>Current Player: <i>{{ hand.current_player }}</i></h4>

<h4>Raise Amount: <i>{{ hand.raise_amount }}</i></h4>

<h3>Current Bet: <i>{{ hand.current_bet }}</i></h3>

<h3>Pot: <i>{{ hand.pot }}</i></h3>
<hr>


{% if hand == None or hand.check_no == no_of_river_players %}
<form method="POST" action="{% url 'deal' table.id %}">
    {% csrf_token %}
    <input type="submit" value="Deal"/>
</form>
{% endif %}
   
{% endblock %}

{% block bottom_scripts %}
    
{% endblock %}

