{% extends "base.html" %}
{% load static from staticfiles %}
{% block content %}

<h3>{{ table.name }}</h3>
<p><b>Starting Blinds: {{ table.blinds }}</b></p>
{% for player in players %}
{% if user.is_authenticated %}
{% if not table.is_active %}
<form method="POST" action="{% url 'join_table' table.id %}">
    {% csrf_token %}
    <input type="submit" value="Join Table"/>
</form>
{% else %}
<p>Table is Full</p>
{% endif %}
{% endif %}
{% endfor %}
<hr>

{% for player in players %}
<p>{{ player.user }} - <img src="/static/images/poker-chip.png"><i> {{ player.chips }}</i></p>
<br>
{% endfor %}

{% endblock %}


