{% extends "base.html" %}
{% load static from staticfiles %}
{% block content %}

<h3>{{ table.name }}</h3>
<p><b>Starting Blinds: {{ table.blinds }}</b></p>

{% if user.is_authenticated %}
{% if not table.is_active %}
<form method="POST" action="{% url 'join_table' table.id %}">
    {% csrf_token %}
    <input type="submit" value="Join Table"/>
</form>
{% else %}
<p>This table is currently active</p>
{% endif %}
{% endif %}
<hr>

{% for player in players %}
<p>{{ player.user }} - <i>${{ player.chips }}</i></p>
<br>
{% endfor %}

{% endblock %}

{% block bottom_scripts %}
    <script type="text/javascript" src="{% static 'js/show_cards.js' %}"></script>
{% endblock %}

