html, body {
    background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/6GfbFRI/4k-broken-screen-high-end-oppo-smartphone-with-green-background-on-its-displayreal-footage-shot-by-a-sony-fdr-ax14k-3840x2160-ultra-high-definition_nkki_pzle__F0000.png);
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
}

.heading {
    text-align: center;
    margin-top: 5%;
}

.input {
    opacity: 0.2;
}


.fold_btn {
    border-radius: 100%;
    background-color: red;
}
.bet_btn {
    border-radius: 100%;
    background-color: blue;
}
.check_btn {
    border-radius: 100%;
    background-color: yellow;
}
.call_btn {
    border-radius: 100%;
    background-color: yellow;
}
.raise_btn {
    border-radius: 100%;
    background-color: blue;
}

.inline {
    display: inline-block;
}