html, body {
    background-image: url("../images/poker-background.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.cards {
    width: 100%;
    max-width: 50px;
    height: auto;
}
.center {
    text-align: center;
   
}

.btn {
    border-radius: 20%;
}

.margin-top {
    margin-top: 5%;
}

.active {
    color: red;
}
.img-circle{
    width: 80px;
    height: 80px;
    border-radius: 100%;
}
