nav .nav-wrapper {
    height: 95px;
    position: relative;
    background-color: #222C37;
}

nav .brand-logo {
    height: 95px;
    width: 300px;
    background-color: #AD002B;
    text-decoration: none;
    line-height: 90px;
    
}

nav ul li a {
    font-size: 1.25rem;
    text-decoration: none;
    height: 95px;
    line-height: 85px;
}

nav ul li a:hover {
    color: white;
    text-decoration: none;
    background-color: #AD002B;
}

#masthead {
    padding-left:10px;
    min-height: 199px;
}

#masthead h1 {
    font-size: 55px;
    line-height: 1;
    margin-top: 50px;
}



