.navbar {
    padding: 1.5rem;
}

.navbar-brand {
    font-size: 2rem;
}

.nav-link {
    font-size: 1.5rem;
}

.navbar-toggler {
    font-size: 1.5rem;
}

#masthead {
    padding-left:10px;
    min-height: 199px;
}

#masthead h1 {
    font-size: 55px;
    line-height: 1;
    margin-top: 50px;
}