{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Texas Hold'em</title>
    
    {% block head_styles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Laila" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock head_styles %}

</head>
<body>
  <header>
  <nav>
        <div class="nav-wrapper">
          <a class="brand-logo logo" href="{% url 'index' %}"><img class="margin-right" src="/static/images/logo.png">Texas Hold'em</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <ul id="nav-mobile" class="right hide-on-med-and-down">
            {% if user.is_authenticated %}
            <li><a href="{% url 'pay' %}">Donate</a></li>
            <li><a href="{% url 'create_table' %}">Create Table</a></li>
            <li><a href="{% url 'find_table' %}">Find Table</a></li>
            <li><a href="{% url 'logout' %}">Sign Out<i class="fas fa-sign-out-alt"></i></a></li>
          {% else %}
            <li><a href="{% url 'signup' %}">Sign Up<i class="fas fa-user-plus"></i></a></li>
            <li><a href="{% url 'login' %}">Sign In<i class="fas fa-sign-in-alt"></i></a></li>
          {% endif %}
          </ul>
        </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
        <li><a href="{% url 'index' %}">Home</a></li>
      <hr>
      {% if user.is_authenticated %}
      <li><a href="{% url 'pay' %}">Donate</a></li>
      <li><a href="{% url 'create_table' %}">Create Table</a></li>
      <li><a href="{% url 'find_table' %}">Find Table</a></li>
      <li><a href="{% url 'logout' %}">Sign Out<i class="fas fa-sign-out-alt"></i></a></li>
      {% else %}
      <li><a href="{% url 'signup' %}">Sign Up<i class="fas fa-user-plus"></i></a></li>
      <li><a href="{% url 'login' %}">Sign In<i class="fas fa-sign-in-alt"></i></a></li>
      {% endif %}
    </ul>

    </header>

    <div class="container">
      {% block content %}
      {% endblock %}
                    
    </div>
<footer>
  <div class="footer-copyright text-center py-3">© Made by Donal Mongey
  </div>
</footer>
    {% block bottom_scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    {% endblock %}
    
    
</body>
</html>